@import url('reservar.css');

/*ESTILO DEL FONDO DE LA PÁGINA Y DE LA CABECERA DE RESERVA*/
section {
    background-image: none;
    height: min-content;
}

section:first-child {
    background-image: url('../img/fotos/fondoReserva.jpg');
    height: min-content;
    margin-bottom: 30px;
}

.blur {
    padding: 40px 0;
}

/*FORMULARIO DE RESERVA*/
form>div {
    align-items: flex-end;
}

[type="submit"] {
    margin: 15px;
    padding: 21px 30px;
}

form div>div {
    margin: 15px;
    font-size: 16px;
    color: #FFFFFF;
    width: 40%;
}

form div>div:nth-child(3) {
    margin: 15px;
    font-size: 16px;
    color: #FFFFFF;
    width: 10%;
}

/*ESTILO DE LOS DETALLES DE LA HABITACION*/
section:last-child {
    margin: 20px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

section>div {
    display: flex;
    width: 100%;
}

#resumen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

#resumen h5 {
    width: 100%;
    font-weight: 400;
}

#habitacion1 {
    width: 500px;
    height: auto;
    margin-right: 50px;
}

#opiniones {
    display: flex;
    align-items: center
}

#opiniones h4 {
    margin: 0 20px 0 0;
}

section h3 {
    width: 100%;
    text-align: center;
}

section ul {
    background-color: var(--neutral-200);
    margin: 20px 0;
    padding: 5% 8%;
    width: 100%;
}

section li {
    list-style-type:disc;
    list-style-position: inside;
}

section h4 {
    display: inline;
}

section ul h5 {
    font-weight: 100;
    margin: 15px 0 40px 0;
}

section button {
    margin-right: 0;
    margin-bottom: 30px;
    padding: 17px 60px;
}

/*ADAPTADO A PANTALLAS PEQUEÑAS*/
@media screen and (max-width: 920px) {
    form div>div, form div>div:nth-child(3), [type="submit"] {
        margin: 10px 0;
        width: 100%;
    }

    [type="submit"] {
        margin-top: 30px;
    }

    section > div {
        flex-direction: column;
        align-items: center;
    }

    form>div {
        align-items: center;
    }

    #resumen {
        align-items: center;
        justify-content: space-evenly;
        margin: 20px 10px;
        width: 100%;
    }

    #habitacion1 {
        margin: 20px 0;
        width: 95%
    }

    #resumen button {
        margin: 20px 0;
    }

    #opiniones  {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;    
    }

    #opiniones h4 {
        width: 100%;
        margin-bottom: 10px;
    }

    section h5 {
        text-align: justify;
    }
}