@import url("reservar.css");

section {
    background-image: none;
    height: min-content;
}

section:first-child {
    background-image: url('../img/fotos/fondoReserva.jpg');
    height: min-content;
    margin-bottom: 30px;
}

.blur {
    padding: 40px 0;
}

form>div {
    align-items: flex-end;
}

[type="submit"] {
    margin: 15px;
    padding: 21px 30px;
}

form div>div {
    margin: 15px;
    font-size: 16px;
    color: #FFFFFF;
    width: 40%;
}

form div>div:nth-child(3) {
    margin: 15px;
    font-size: 16px;
    color: #FFFFFF;
    width: 10%;
}

article {
    width: 80%;
    margin: 30px auto;
    background-color: var(--neutral-200);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0px 8px 19px -9px rgba(0,0,0,0.75);
}

article img {
    aspect-ratio: 4/3;
    width: 260px;
}

article>div:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.detalles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    flex-wrap: wrap;
}

article ul li {
    list-style-type:disc;
    list-style-position: outside;
    margin-left: 50px;
}

article>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
}

article .azul {
    margin: 0;
    padding: 15px 50px;
}

article a{
    color: var(--secondary-500);
}

@media screen and (max-width: 920px) {
    form div>div, form div>div:nth-child(3), [type="submit"] {
        margin: 10px 0;
        width: 100%;
    }

    [type="submit"] {
        margin-top: 30px;
    }

    article {
        flex-direction: column;
    }

    article div.detalles, article a {
        margin: 10px 0;
    }

    form>div {
        align-items: center;
    }

    article>div:first-child, article>div:last-child {
        width: 100%;
    }

    article img {
        width: 100%;
    }

    article ul li {
        margin-left: 20px;
    }
}
