@import url("marinadog.css");

/*IMAGEN DE FONDO DEL FORMUALRIO DE RESERVA*/
section {
    background-image: url('../img/fotos/fondoReserva.jpg');
    height: 90vh;
    margin-bottom: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blur {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    color: #FFFFFF;
}

/*FORMULARIO DE RESERVA*/
form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
}

form>div{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

form div>div {
    margin: 15px;
    font-size: 16px;
    color: #FFFFFF;
    width: 45%;
}

form div>div:last-child {
    width: 10%;
}

input, select {
    display: block;
    padding: 20px 30px;
    font-size: 16px;
    border: none;
    background-color: #ffffffba;
    width: 100%;
    min-width: min-content;
}

select {
    padding: 20px 0;
    text-align: center;
}

label {
    margin: 0 0 10px 0;
    display: block;
    width: max-content;
}

input:focus, select:focus { 
    outline: 2px solid var(--primary-500);
}

[type="submit"] {
    width: 20%;
    min-width: min-content;
    margin: 10px;
    background-color: var(--secondary-500);
    color: white;
    font-weight: 600;
}

[type="submit"]:hover{
    background-color: var(--secondary-700);
}

/*ADAPTADO A PANTALALLAS PEQUEÑAS*/
@media screen and (max-width: 920px) {
    form>div {
        flex-direction: column;
    }

    form>div div, form div>div:last-child, [type="submit"] {
        width: 100%;
        max-width: 400px;
        margin: 10px auto;
    }

    [type="submit"] {
        margin-top: 30px;
    }

}